/* Enter your custom styles here */

.Label {
	font-size: 20px;
	padding: 0px 10px;
}

.size16 {
	font-size: 16px;
}

.marginForShowAssests {
	margin: 90px
}

.size18 {
	font-size: 18px;
	font-weight: bold;
	margin: 15px;
}

.logoSize {
	font-size : 4rem;
	border-radius: 50%;
	
}
